@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  @apply bg-primary font-roboto text-primary m-0 flex min-h-screen items-center justify-center p-0 align-middle leading-normal;
}

p {
  @apply mb-[1rem];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-[0.5rem] font-semibold;
}

a {
  @apply text-[#007acc] no-underline;
}

a:hover {
  @apply underline;
}
